body{
    background-color: #f6fff6;
}

#validation-message{
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(10, 206, 213, 0.508);
    padding: .75em 0em;
    margin:0;
}

#grade{
    font-size: 32px;
    padding: .75em 0em;
    border: 1px solid #ccc;
    text-align: center;
    display: none;
}

button{
    padding: .1em 1.5em;
}