body{
    background-color: #fdf6ff;
}

label{
    padding-right: 1.5em;
}

section.sort-by{
    flex: 1 1 40%;  /*these are the Sort By and Sort Direction panels*/
}

section{
    flex: 1 1 calc(25% - 10px); /* must be smaller than 1/4 so four columns can fit*/
    margin: 5px;
}